<% provide(:title, @user.name) %>
<h1> Welcome  <%= @user.name %>  </h1>
<h2>
    Courses Currently You are Enrolled In:
    <ul class="courses">
        <% Enrollment.all.each do |enroll| %>
          <% if enroll.user_id == current_user.id %>
            <li><%= enroll.name %> <%= button_to "Drop", { action: "drop", id: enroll.id }%></li>
          <% end %>
          <%= button_to "add" , { action: "add", id: enroll.id }%>
        <% end %>
    </ul>
</h2>
