<% provide(:title, @user.name) %>
<h1> Welcome  <%= @user.name %>  </h1>
<h2>
    Courses Currently You are Enrolled In:
    <ul class="courses">
        <% Enrollment.all.each do |e| %>
          <% if e.user_id == current_user.id %>
            <li><%= e.name %> <%= button_to "Drop", { action: "drop", id: e.id }%></li>
          <% end %>
        <% end %>
    </ul>
</h2>
