<% provide(:title, @user.name) %>
<h1>
  Welcome
  <%= @user.name %>
</h1>
<h2>
  Courses Currently You are Enrolled In:
</h2>
  <% if logged_in? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Drop</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%if !@enrollments.nil?%>
        <% @enrollments.each do |e| %>
        <tr>
          <td><%= e.name %></td>
          <td><%= button_to "Drop", { action: "drop", id: e.id }%></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
  </table>

<% else %>
  <h2>You must log in or sign up first</h2>
  <% end %>
