<div class="row centered-form center-block">
  <div class="container col-md-10 col-md-offset-1">
<% provide(:title, @user.name) %>
<h1>
  Welcome
  <%= @user.name %>
</h1>
<h2>
  Courses Currently You are Enrolled In:
</h2>
  <% if logged_in? %>
<div class="container">
  <table>
    <tbody>
      <%if !@enrollments.nil?%>
        <% @enrollments.each do |e| %>
        <tr>
          <td><%= e.name %></td>
          <td><%= button_to "Drop", { action: "drop", id: e.id }%></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
  </table>
</div>


<% else %>
  <h2>You must log in or sign up first</h2>
  <% end %>
</div>
</div>
