<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div id="logo">
      Brandeis University 
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to 'Instuctors', instructors_path %></li>
        <li><%= link_to 'Courses', courses_path %></li>
        <li><%= link_to 'Subjects', subjects_path %></li>
      </ul>
    </nav>
  
  </div>
</header>